<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=UTF-8" />
    <title>담백이 주름 보기</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1>담백이 주름 보기</h1>
    </div>
    <br/>

    <table class="table">
        <tr>
            <th class="col-xs-4 col-sm-4 col-md-4"
                style="padding:13px 0 0 15px;">주름명</th>
            <td th:text="${board.title}"/>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">원인 제공자</th>
            <td th:text="${board.writer}"/>
        </tr>
        <tr>
            <th style="padding:13px 0 0 15px;">원인</th>
            <td th:text="${board.content}"
                style="height: 200px;"/>
        </tr>
    </table>

    <div class="pull-left">
        <a href="/"
           class="btn btn-default">주름 목록</a>
    </div>

    <div class="pull-right">
        <a th:href="'/modify?idx='+${board.idx}"
           class="btn btn-info">성형</a>
        <a th:href="'/delete?idx='+${board.idx}"
           class="btn btn-danger">제거</a>
    </div>
</div>

</body>
</html>