<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>담백이</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <style>
        body{
            margin-bottom:60px;
        }

        body > .container{
            padding:60px 15px 0;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="page-header">
        <a href="/">
            <h1>담백이</h1>
        </a>
    </div>
    <div class="pull-right"
         style="width:100px;margin:10px 0;">
        <a href="/write"
           class="btn btn-primary btn-block">주름 추가</a>
    </div>
    <br/><br/><br/>

    <div id="mainHide">
        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-xs-1 col-sm-1 col-md-1">번호</th>
                <th class="col-xs-5 col-sm-5 col-md-5">주름명</th>
                <th class="col-xs-2 col-sm-2 col-md-3">원인 제공자</th>
                <th class="col-xs-2 col-sm-2 col-md-3">업데이트</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="board : ${boardList}">
                <td th:text="${board.idx}"></td>
                <td>
                    <a th:href="'/detail?idx='+${board.idx}"
                       th:text="${board.title}"/>
                </td>
                <td th:text="${board.writer}"></td>
                <td th:text="${board.updatedDate}
                             ? ${#temporals.format(board.updatedDate,'yyyy-MM-dd HH:mm')}
                             : ${board.updatedDate}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<br/>

<nav aria-label="Page navigation"
     style="text-align:center;">
    <ul class="pagination"
        th:with="startNumber=${T(Math).floor(boardList.number/10)}*10+1,
                 endNumber=(${boardList.totalPages} > ${startNumber}+9)
                            ? ${startNumber}+9
                            : ${boardList.totalPages}">
        <li>
            <a aria-label="Previous"
               href="?page=1">&laquo;</a>
        </li>

        <li th:style="${boardList.first} ? 'display:none'">
            <a th:href="@{/(page=${boardList.number})}">&lsaquo;</a>
        </li>

        <li th:each="page :${#numbers.sequence(startNumber, endNumber)}"
            th:class="(${page} == ${boardList.number}+1) ? 'active'"
            th:style="(${page} > ${boardList.totalPages}) ? 'display:none'">
            <a th:href="@{/(page=${page})}" th:text="${page}">
                <span class="sr-only"/>
            </a>
        </li>

        <li th:style="${boardList.last} ? 'display:none'">
            <a th:href="@{/(page=${boardList.number}+2)}">&rsaquo;</a>
        </li>

        <li>
            <a aria-label="Next"
               th:href="@{/(page=${boardList.totalPages})}">&raquo;</a>
        </li>
    </ul>
</nav>
</body>
</html>